# pandasによるデータ処理

## クイズ

### Q: データの読み込み
[pokemonData](https://github.com/lgreski/pokemonData)は，ポケットモンスターシリーズに登場するポケモンの能力値をまとめたデータセットである．
[コチラ](https://raw.githubusercontent.com/lgreski/pokemonData/refs/heads/master/Pokemon.csv)のURLからCSVファイルをダウンロードし，その内容をpandasデータフレームに変換して変数`pokemon_df`に代入しなさい．
`pokemon_df`の内容を表示しなさい．

In [37]:
pokemon_df = pd.read_table(
    'https://raw.githubusercontent.com/lgreski/pokemonData/refs/heads/master/Pokemon.csv', sep=',', na_values=[' '])

### Q: データの確認
データフレーム`pokemon_df`で取り扱われているポケモンの数（行数）および列数を調べなさい．

In [38]:
pokemon_df.shape

(1215, 13)

### Q: HP, 攻撃力, 防御力
データフレーム`pokemon_df`で扱われているポケモンの`HP`，攻撃力（`Attack`），防御力（`Defense`）の平均値を調べなさい．

In [41]:
pokemon_df[['HP', 'Attack', 'Defense']].describe()

# 以下のほうが分かりやすい
# target_columns = ['HP', 'Attack', 'Defense']
# pokemon_df[target_columns].describe()

                HP       Attack      Defense
count  1215.000000  1215.000000  1215.000000
mean     71.244444    81.152263    75.007407
std      26.927819    32.037134    30.740999
min       1.000000     5.000000     5.000000
25%      52.000000    57.000000    52.000000
50%      70.000000    80.000000    70.000000
75%      85.000000   100.000000    91.000000
max     255.000000   190.000000   250.000000

### Q: 第9世代
データフレーム`pokemon_df`の中で，第9世代（スカーレット・ヴァイオレット）のポケモンの情報を表示しなさい．

In [ ]:
pokemon_df[pokemon_df.Generation == 9]

### Q: ゴーストタイプ
データフレーム`pokemon_df`の中で「ゴースト（Ghost）」タイプのポケモンの情報を表示しなさい．

In [ ]:
pokemon_df[(pokemon_df.Type1 == 'Ghost') | (pokemon_df.Type2 == 'Ghost')]

# 以下でもOK
# pokemon_df.query('Type1 == "Ghost" or Type2 == "Ghost"')

### Q: 偏差値
データフレーム`pokemon_df`の情報によると，`Total`値の平均値は443.1，標準偏差は121.2である．
この値を用いてデータフレーム`pokemon_df`中の各ポケモンの`Total`値に関する偏差値を算出しなさい．
また，計算した偏差値を`pokemon_df`の列`Total_Z_score`に格納しなさい．

なお，$x$の平均値を$\mu$，標準偏差を$\sigma$としたとき，$x$の偏差値$z$は以下の式で計算できる：
$$
z = \frac{x - \mu}{\sigma} \times 10 + 50
$$

In [ ]:
pokemon_df['Total_Z_score'] = ((pokemon_df.Total - 443.1) / 121.2) * 10 + 50

### Q: データフレームの保存
`Total`の偏差値に関する列を追加したデータフレーム`pokemon_df`をTSVファイルとして保存しなさい．
また，保存したTSVファイルをテキストエディタやExcelなどを用いて確認しなさい．
なお，TSVファイル名は`pokemon.tsv`とし，見出し（列名）をファイル内に含めるようにすること．

In [ ]:
pokemon_df.to_csv('data/pokemon.tsv', sep='\t', header=True)